<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading"> Our Services</h1>
            <p class="text-center sub-heading">Make Your Day Memorable</p>
            <div class="row">

                {{!-- first box --}}
                <div class="col-md-4">
                    <dvi class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="#" alt="server down">
                            </div>
                            <h4>Weddding</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, maiores.</p>
                        </div>
                    </dvi>
                </div>

                {{!-- second box --}}
                <div class="col-md-4">
                    <dvi class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img src="#" alt="server down">
                            </div>
                            <h4>Pre-Weddding</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, maiores.</p>
                        </div>
                    </dvi>
                </div>

                {{!-- third box --}}
                <div class="col-md-4">
                    <dvi class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img src="#" alt="server down">
                            </div>
                            <h4>Baby Shower</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, maiores.</p>
                        </div>
                    </dvi>
                </div>
            </div>
        </div>
    </div>
</div>