<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading"> Our Services</h1>
            <p class="text-center sub-heading">Make Your Day Memorable</p>
            <div class="row">

                {{!-- first box --}}
                <div class="col-md-4">
                    <dvi class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="#" alt="server down">
                            </div>
                            <h4>Weddding</h4>
                            <p>"Once in a while, Right in the middle of an ordinary life, Love gives us a fairy tale."
                                make your special events precious with the gems of pic.</p>
                        </div>
                    </dvi>
                </div>

                {{!-- second box --}}
                <div class="col-md-4">
                    <dvi class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img src="/public/img/drone.svg" alt="server down">
                            </div>
                            <h4>Drone shoot</h4>
                            <p>we have the latest tools/technology to capture your events,
                                i think drones are a good tool to go after high-valued photos</p>
                        </div>
                    </dvi>
                </div>

                {{!-- third box --}}
                <div class="col-md-4">
                    <dvi class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img src="#" alt="server down">
                            </div>
                            <h4>Baby Shower</h4>
                            <p>“So happy to <B>Shower</B> you with a few fun things for baby!”</p>
                        </div>
                    </dvi>
                </div>
            </div>
        </div>
    </div>
</div>