<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  <link rel="stylesheet" href="css/style2.css">

</head>

<body>
  <input type="radio" name="Photos" id="check1" checked>
  <input type="radio" name="Photos" id="check2">
  <input type="radio" name="Photos" id="check3">
  <input type="radio" name="Photos" id="check4">

  <div class="container">
    <h1> OUR PHOTO GALLERY</h1>
    <div class="top-content">
      <h3>Photo Gallery</h3>
      <label for="check1">All Photos</label>
      <label for="check2">Baby Shower</label>
      <label for="check3">Wedding Photos</label>
      <label for="check4">Drone shots</label>
    </div>

    <div class="photo-gallery">
      <div class="pic Baby">
        <img src="/img/baby/baby1.jpg">
      </div>

      <div class="pic Drone ">
        <img src="/img/drone/d1.jpg">
      </div>

      <div class="pic Wedding ">
        <img src="/img/wed/wed1.jpg">
      </div>

      <div class="pic Baby">
        <img src="/img/baby/baby2.jpg">
      </div>

      <div class="pic Drone ">
        <img src="/img/drone/d2.jpg">
      </div>

      <div class="pic Wedding ">
        <img src="/img/wed/wed2.jpg">
      </div>

      <div class="pic Baby">
        <img src="/img/baby/baby3.jpg">
      </div>

      <div class="pic Drone ">
        <img src="/img/drone/d3.jpg">
      </div>

      <div class="pic Wedding ">
        <img src="/img/wed/wed3.jpg">
      </div>

      <div class="pic Baby">
        <img src="/img/baby/baby4.jpg">
      </div>

      <div class="pic Drone ">
        <img src="/img/drone/d4.jpg">
      </div>

      <div class="pic Wedding ">
        <img src="/img/wed/wed4.jpg">
      </div>

      <div class="pic Baby">
        <img src="/img/baby/baby5.jpg">
      </div>

      <div class="pic Drone ">
        <img src="/img/drone/d5.jpg">
      </div>

      <div class="pic Wedding ">
        <img src="/img/wed/wed5.jpg">
      </div>

      <div class="pic Baby">
        <img src="/img/baby/baby6.jpg">
      </div>

      <div class="pic Drone ">
        <img src="/img/drone/d6.jpg">
      </div>

      <div class="pic Wedding ">
        <img src="/img/wed/wed6.jpg">
      </div>

      <div class="pic Baby">
        <img src="/img/baby/baby7.jpg">
      </div>

      <div class="pic Drone ">
        <img src="/img/drone/d7.jpg">
      </div>

      <div class="pic Wedding ">
        <img src="/img/wed/wed7.jpg">
      </div>

      <div class="pic Baby">
        <img src="/img/baby/baby8.jpg">
      </div>

      <div class="pic Wedding ">
        <img src="/img/wed/wed8.jpg">
      </div>

      <div class="pic Drone ">
        <img src="/img/drone/d8.jpg">
      </div>
    
      <div class="pic Baby">
        <img src="/img/baby/baby9.jpg">
      </div>

      <div class="pic Drone ">
        <img src="/img/drone/d9.jpg">
      </div>
 
      <div class="pic Wedding ">
        <img src="/img/wed/wed9.jpg">
      </div>

      <div class="pic Baby">
        <img src="/img/baby/baby10.jpg">
      </div>

      <div class="pic Drone ">
        <img src="/img/drone/d10.jpg">
      </div>

      <div class="pic Wedding ">
        <img src="/img/wed/wed10.jpg">
      </div>

      <div class="pic Baby">
        <img src="/img/baby/baby11.jpg">
      </div>

      <div class="pic Drone ">
        <img src="/img/drone/d11.jpg">
      </div>

      <div class="pic Wedding ">
        <img src="/img/wed/wed11.jpg">
      </div>

      <div class="pic Baby">
        <img src="/img/baby/baby12.jpg">
      </div>

      <div class="pic Drone ">
        <img src="/img/drone/d12.jpg">
      </div>

      <div class="pic Wedding ">
        <img src="/img/wed/wed12.jpg">
      </div>

    </div>

  </div>
</body>

</html>